import { BaseCommand } from "../../lib/commands";
import chat from "../../lib/chat";


class TEMPLATENAMECommand extends BaseCommand {
    name = "TEMPLATENAME";
    description = "TEMPLATEDESC";
    usage = "TEMPLATEUSAGE";
    execute = async (user: string, channel: string, args: Array<string>) => {
        chat.say(channel, `TEMPLATEMESSAGE`)
    }
}
export const cmd = new TEMPLATENAMECommand();